@import "normalize.css";
@import "component";

$header-height: 5rem;

$padding-default: 0 2rem;

$primary100: #FEF5F3;
$primary200: #FEEAE8;
$primary300: #FEDDDE;
$primary400: #FDD4D9;
$primary500: #fcc6d2;

$c-cuccess: #3ABBFC;
$c-error: #fa8aa3;